name: Release

on:
  push:
    tags:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    env:
       CF_API_KEY: ${{ secrets.CF_API_KEY }}
       CF_URL: https://www.curseforge.com/wow/addons/merathilis-ui
       GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
       WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
       WAGO_URL: https://addons.wago.io/addons/elvui-merathilisui
    steps:
      - name: Clone Project
        uses: actions/checkout@v3
        with:
          fetch-depth: 100
      - name: Setup Environment
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Retail
        uses: BigWigsMods/packager@master
      - name: Classic
        uses: BigWigsMods/packager@master
        with:
          args: -g classic
      - name: Burning Crusade Classic
        uses: BigWigsMods/packager@master
        with:
          args: -g bcc
      - name: Github Actions
        uses: actions/upload-artifact@v2
        with:
          name: ElvUI_MerathilisUI
          path: .release/*.zip
      - name: Send status to Discord
        if: success()
        uses: repooc/djs-actions@my_changes
        with:
          id: ${{ secrets.DISCORD_WEBHOOK_ID }}
          token: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
          title: 'New *${{ github.event.repository.name }}* Version Released!'
          description: '[${{ github.event.sender.login }}](${{ github.event.sender.html_url }}) has released a new version of ${{ github.event.repository.name }}!
            If you use a wow addon client that can download from either wago addons or curse, then it is recommended that you use that to install/update the addon.  You can update how you see fit, even if you want to download manually and install it, go for it.  The can grab the addon from the links down below.'
          fields: '[{"name": "Released By:", "value": "[${{ github.event.sender.login }}](${{ github.event.sender.html_url }})", "inline": true}, {"name": "Issue Tracker:", "value": "[${{ github.event.repository.name }}](${{ github.event.repository.html_url }}/issues)", "inline": true}, {"name": "Version", "value": "${{ env.RELEASE_VERSION }}", "inline": true}, {"name": "Wago Addons", "value": "[Click Here](${{ env.WAGO_URL }})", "inline": true}, {"name": "Curseforge", "value": "[Click Here](${{ env.CF_URL }})", "inline": true}]'
          footer: Addon by Merathilis
          timestamp: true
